{{ define "main" }}

<h1>About</h1>

<p>
    Hi, I'm Denis. This is a small place to (approximately) categorize and showcase parts of my photography.
</p>
<br />

<h1>Collections</h1>

<div class="posts-list">
    {{ with .Site.GetPage "/collections" }}
    {{ range first 10 (sort .Data.Pages "Title" "asc" (where .Pages ".Params.private" "!=" true))}}
    <div class="post">
        <p>
        <div class="date">{{ .Lastmod.Format "2 January 2006" }}</div>
        <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
        {{ .Summary }}
        </p>
    </div>
    {{ end }}
    {{ end }}
</div>

<h1>Random photos</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>

{{ $filenames := split (readFile "/assets/randomImages") "\n" }}
{{ range first 40 $filenames }}
{{ $src := (resources.Get .) }}
{{ $thumb := $src.Resize "300x q75" }}
<a href="{{$src.Permalink}}" data-lightbox="x"><img src="{{ $thumb.Permalink }}" class="img-responsive" loading="lazy"
        style="width:19%; max-width: 300px; display: inline;"></a>
{{ end }}

<!-- <div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 6 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div> -->

{{ end }}